/* Variables */
$font-title: 'Montserrat', sans-serif;
$font-subtitle: 'PT Serif', sans-serif;
$font-text: 'Roboto Slab', sans-serif;

$color-light: #fff;
$color-dark: black;
$color-medium: #777777;

/* Global */

*, *::before, *::after {
    box-sizing: border-box; }

body {
    margin: 0;
    background-color: $color-light;
}

section {
    text-align: center;
    padding: 80px 0;
}

.section-title {
    padding-bottom: 60px;
}

.section-title h2 {
    font-family: $font-title;
    font-size: 40px;
    color: $color-dark;
    padding-bottom: 10px;
    margin: 0;
}

.section-title p {
    font-family: $font-subtitle;
    font-size: 16px;
    margin: 0;
    color: $color-medium;
}
.element-title {
    font-family: $font-title;
    font-size: 18px;
    margin-bottom: 10px;
}
.element-subtitle {
    font-family: $font-text;
    font-size: 14px;
    color: $color-medium;
    margin-top: 0;
}

/* Header */

.page-header {
    background-image: url('/images/head-photo.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: $color-light;
}
.page-logo {
    margin-top: 10px;
    padding: 20px;
    text-align: center;
}
.page-navigation ul li {
    display: inline-block;
    padding-right: 10px;
    font-size: 15px;
    font-family: $font-title;
    padding-top: 20px;
}

.page-title {
    margin: 0 auto;
    text-align: center;
}

.page-title h2 {
    margin-top: 200px;
    font-size: 40px;
    font-family: $font-subtitle;
    font-weight: 200;
}

.page-title h1 {
    font-size: 75px;
    font-family: $font-title;
    margin-top: 10px;
}

.btn  {
    background: #fed136;
    padding: 20px 30px;
    border-radius: 2px;
    font-weight: 600;
    font-family: $font-title;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: $color-light;
}


/* Portfolio */

.portfolio {
    background-color: #f7f7f7;
}

.portfolio-element {
    margin-top: 20px;
}

.portfolio-image {
    height: 300px; 
}

.portfolio-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.portfolio-title {
    text-align: center;
    background: $color-light;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Footer */
footer {
    margin: 20px 0;
}
.maker {
    font-family: $font-title;
    font-size: 14px;
    text-align: center;
}
.social-media ul {
    text-align: center;
}
.social-media ul li {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: relative;
    font-size: 0;
    margin-right: 10px;
    background-color: $color-dark;
    border-radius: 50%;
}
.social-media ul li img {
   position: absolute;
   font-size: 20px;
   margin: 0 auto;
    right: 50%;
    transform: translate(50%, 50%); 
    top: 10%;
}




